.header {
   background: linear-gradient(92.33deg, #087990 0.12%, #055160 100%);
   border: 1px solid #ced4da;
}

.header__content {
   padding: 68px 0;
}

.header__title {
   font-weight: 700;
   font-size: 72px;
   line-height: 1.2;
   color: #cff4fc;
   text-align: center;
   margin-bottom: 4px;
}

.header__subtitle {
   font-weight: 400;
   font-size: 21px;
   line-height: 1.7;
   color: #cff4fc;
   text-align: center;
}

/*------------------main------------*/
.main {
   background: #edeef3;
}

.main__container {
   position: relative;
}

.main__content {
   padding: 50px 10px 102px;
   position: relative;
   gap: 20px;
   display: flex;
   flex-wrap: wrap;
}

.main__search {
   margin-top: -40px;
   padding: 0 40px;
}

.main__input {
   width: 100%;
   color: #abb5be;
   display: inline-block;
   border: 2px solid #ced4da;
   background-color: #fff;
   border-radius: 4px;
   padding: 22px 32px;
   font-size: 24px;
   text-transform: capitalize;
}

/*----------class-js---------*/
.main__cart {
   width: 316px;
   padding: 24px;
   background: #ffffff;
   border: 1px solid #dee2e6;
   border-radius: 4px;
   text-align: center;
   flex: 1 1 30%;
   min-width: 290px;
}

.main__picture {
   margin: auto;
   font-size: 48px;
   margin-bottom: 18px;
}

.main__title {
   font-weight: 700;
   font-size: 17px;
   line-height: 1.65;
   text-decoration-line: underline;
   color: #000000;
   margin-bottom: 18px;
}

.main__text {
   font-weight: 400;
   font-size: 12px;
   line-height: 15px;
   text-align: center;
   color: #3f444a;
}

/*-----------footer-----------*/
.footer {
   background: #edeef3;
}

.footer__content {
   border-top: 1px solid #ced4da;
   padding: 20px 0;
}

.footer__text {
   text-align: center;
   font-size: 16px;
   line-height: 1.31;
   color: #6c757d;
}
